/***** BASE STYLES *****/
h1, h2, h3, h4, h5 {
    font-family: Montserrat, Helvetica, sans-serif;
}
body p {
    font-family: Cardo, Arial, sans-serif;
}


/***** GRID *****/
 .full-width {
     width: 1200px;
     margin: 0 auto;
     clear: both;
 }

 .half-width {
     width: 580px;
     padding-left: 10px;
     padding-right: 10px;
     float: left;
 }

 .third-width {
     width: 380px;
     padding-left: 10px;
     padding-right: 10px;
     float: left;
 }


/***** HEADER *****/
header {
    background-image: url('../img/yellow-pink-wall.jpg');
    background-size: cover;
    height: 600px;
}

header .full-width {
    padding-top: 100px;
}

header h1, header h3 {
    text-align: center;
    color: white;
}

header h1 {
    font-size: 130px;
    font-weight: 400;
}

header h3 {
    font-size: 50px;
    font-weight: 200;
}

/***** WORK *****/
#work {
    height: 800px;
}

#work h4 {
    text-align: center;
    font-size: 30px;
}

#work h5 {
    font-weight: 200;
    font-size: 25px;
}

#work img {
    height: 300px;
    width: 500px;
    padding-bottom: 30px;
}


/***** ABOUT *****/

#about {
    background: #FECC17;
    height: 400px;
}

#about h4 {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    padding-top: 20px;
}

#about img {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/***** CONTACT *****/
#contact {
    height: 300px;
}

#contact h4 {
    text-align: center;
    font-size: 30px;
}

#contact p {
    text-align: center;
}