/***** BASE STYLES *****/
header, body {
    font-family: Raleway, Helvetic, sans-serif;
}




/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 46%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
}

#about {
    height: 500px;
}

/***** LANDING PAGE *****/

header {
    background: url('../img/yellow-pink-wall.jpg');
    height: 600px;
    background-size: cover;
    text-align: center;
}

header h1 {
    padding-top: 250px;
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
}

header h3 {
    color: white;
    font-size: 50px;
}

header nav {
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-color: white;
    opacity: .5;

}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 40px;
}

header nav ul li a {
    text-decoration: none;
}

/***** ABOUT *****/

#about {
    background-color: whitesmoke;
}

#about h2 {
    padding-left: 2%;
}